
@font-face {
    font-family: "Century Gothic";  
    src: url("~/assets/Fonts/CenturyGothic/centurygothic_bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
  }
  
@font-face {
    font-family: "Myriad Pro";  
    src: url("~/assets/Fonts/MyriadPro/MYRIADPRO-SEMIBOLD.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 500;
}
  
@font-face {
    font-family: "Myriad Pro";  
    src: url("~/assets/Fonts/MyriadPro/MYRIADPRO-REGULAR.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400;
}

$primary: #49240F;
$secondary: #E4A79D;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 400;
}


ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}